/* CSS Reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: antiquewhite;
}

h3{
	font-family: times new roman, monospace;
	background-color: antiquewhite;
	display: inline;
	font-size: 50px;
}

#other-project img{
	height: 200px;
	width: 500px;
}